*.iml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.gradle/7.4/executionHistory/*.*
/.gradle/file-system.probe
/.gradle/7.4/fileHashes/fileHashes.bin
/.gradle/7.4/fileHashes/fileHashesCache.bin
/.gradle/7.4/fileHashes/fileHashes/fileHashes.bin
/.gradle/7.4/fileHashes/fileHashes/fileHashes.lock
/.gradle/7.4/fileHashes/fileHashes/resourceHashesCache.bin
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
